.header-blog {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-size: 40px;
}

.blog-title {
    font-size: 250%;
}

.h1,
h1,
h2,
.h2,
h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-footer {
    background-color: #f9f9f9;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    padding-top: 1%;
    padding-bottom: 3%;
}

#olderBtn,
#newerBtn {
    border-radius: 40px;
}