.container {
    max-width: 400px;
    margin: 0 auto;
}

.registration-content {
    border-radius: 10px;
    padding: 20px 50px;
    background: #629cdba6;
}

.group {
    overflow: hidden;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: rgb(233, 233, 233);
    border: 1px solid #4ECDC4;
    background-color: #556270;
}

fieldset {
    padding: -20px;
    border: 2px groove;
    border-radius: 20px;
}

.radio-button {
    margin-left: 40px;
    font-size: 20px;
    color: rgb(56, 54, 54);
    margin-bottom: -10px;
}

#registrationform1 {
    margin-top: 20px;
    display: block;
}

#registrationform2 {
    display: block;
}

#detailTable {
    display: block;
}

table td,
tr {
    margin: auto;
    border: 0.2px solid #ebebeb;
    background: #fff;
    padding: 20px 20px;
}

.data {
    color: rgb(56, 54, 54);
    font-size: 15px;
    font-style: italic;
    width: 100%;
}

.data1 {
    color: rgb(56, 54, 54);
    font-size: 15px;
    font-style: italic;
    column-span: 1;
}

#nameAlert {
    display: none;
}

#numberAlert {
    display: none;
}

#emailAlert {
    display: none;
}

#confirmAlert {
    display: none;
}

#vecNameAlert {
    display: none;
}

#vecNumberAlert {
    display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img {
  border-radius: 50%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}